<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
<body class="container">
  <%- include('../partials/header', {page: 'about'}); %>
  <main>
    <div class="jumbotron">
      <h1>About me</h1>
      <p>Hi, you can call me André and I'm a begginer in web development, eager to learn more.</p>
    </div>
  </main>
  <%- include('../partials/footer'); %>
</body>
</html>